.entryfield{
    position: fixed;
    text-align: center;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    top:20%;
    left:20%;
    height: 60%;
    width: 60%;
}

.subelement{
    margin: 1rem;
    width: 10rem;
    height: 1.5rem;
}